#match {
  text-align: center;
}

body {
  background-image: url(images/pool_table.png);
}

.header {
  text-align: center;
  margin-top: -40px;
  margin-bottom: -40px;
  color: white;
  font-family: 'Candal', sans-serif;
  font-size: 3em;
  text-shadow: 3px 3px 3px black;
}
